# DAON 하계 파이썬 스터디 6회차 과제

#### 1. <파일 저장 형식> 'n회차_이름_과제'으로 저장하여 보내주세요!!(꼭 지켜주세요) 
#### 2. 못 풀고 끄적인 흔적이라도 남겨주셔도 괜찮아요! 나중에 꼭 다시 풀어주세요!!
#### 3. 모든 결과를 출력해 주세요.

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [10]:
#수업시간 6번 문제

In [11]:
#고객별 연령대 ( 20대이하,20대,30대,40대,50대,60대 이상 )
cs = pd.read_table('dataCustomers.tab', sep='\t', encoding='cp949')
cs

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

     custid gender  age marriage      residence    job
0     10070      여   28       미혼     Yongsan-gu    제조업
1     10139      여   28       미혼    Gangdong-gu  정보서비스
2     10208      여   28       미혼    Gwangjin-gu    제조업
3     10275      여   28       미혼   Eunpyeong-gu   개인사업
4     10350      남   28       미혼     Gangnam-gu    제조업
5     10425      남   28       미혼      Songpa-gu   교육기관
6     10499      여   28       미혼   Seodaemun-gu   개인사업
7     10567      여   28       미혼     Dongjak-gu  정보서비스
8     10632      여   28       미혼   Eunpyeong-gu   개인사업
9     10707      여   28       기혼     Dongjak-gu   개인사업
10    10783      여   28       미혼     Dongjak-gu   개인사업
11    10853      여   28       미혼    Jungnang-gu    제조업
12    10919      여   28       기혼  Dongdaemun-gu   개인사업
13    10983      여   28       미혼     Gangnam-gu   의료기관
14    11046      여   28       미혼   Seongdong-gu   금융기관
15    11113      여   28       미혼      Seocho-gu   의료기관
16    11182      남   28       미혼        Mapo-gu   개인사업
17    11264      여   28       미혼   Seodaemun-gu   교육기관
18    11343      여   28       기혼      Gwanak-gu   개인사업
19    11421      여   27       미혼     Gangseo-gu   의료기관
20    11489      남   29       미혼     Gangbuk-gu   개인사업
21    11563      여   28       기혼        Guro-gu    제조업
22    11631      여   28       기혼   Yangcheon-gu  운송서비스
23    11694      여   28       미혼  Dongdaemun-gu  정보서비스
24    11767      여   30       기혼      Songpa-gu    제조업
25    11843      남   28       미혼   Seodaemun-gu    그룹사
26    11905      여   29       기혼      Songpa-gu   개인사업
27    11969      남   29       미혼      Seocho-gu   개인사업
28    12035      남   29       미혼   Seodaemun-gu   의료기관
29    12105      여   29       미혼    Gangdong-gu    제조업
..      ...    ...  ...      ...            ...    ...
470   46230      여   57       기혼    Jungnang-gu   개인사업
471   46327      여   58       기혼      Seocho-gu   금융기관
472   46441      여   58       기혼     Gangnam-gu   교육기관
473   46554      여   58       기혼   Seodaemun-gu  정보서비스
474   46661      남   58       기혼      Seocho-gu    제조업
475   46758      남   59       기혼    Gangdong-gu   개인사업
476   46869      여   59       기혼      Seocho-gu    건설업
477   46969      남   59       기혼    Gwangjin-gu   개인사업
478   47084      남   59       기혼     Gangnam-gu    그룹사
479   47203      남   59       기혼    Gangdong-gu   개인사업
480   47319      여   60       기혼        Jung-gu    제조업
481   47410      남   60       기혼      Seocho-gu   언론기관
482   47523      여   60       기혼   Yangcheon-gu   교육기관
483   47614      여   60       기혼   Seodaemun-gu   개인사업
484   47739      남   61       기혼     Gangnam-gu   교육기관
485   47842      여   61       기혼      Songpa-gu   개인사업
486   47956      남   61       기혼     Gangnam-gu   개인사업
487   48044      여   62       기혼       Nowon-gu    전문직
488   48169      여   62       기혼      Seocho-gu   공공기관
489   48278      여   63       기혼   Seodaemun-gu   개인사업
490   48401      여   63       기혼     Gangnam-gu   교육기관
491   48556      여   64       기혼   Seodaemun-gu   개인사업
492   48686      여   63       기혼      Songpa-gu   도소매업
493   48796      남   65       기혼      Songpa-gu    제조업
494   48890      남   65       기혼     Yongsan-gu   금융기관
495   48997      여   66       기혼     Gangnam-gu   개인사업
496   49112      여   65       기혼   Seodaemun-gu   개인사업
497   49232      여   67       기혼   Seongdong-gu   개인사업
498   49351      여   68       기혼        Mapo-gu   개인사업
499   49470      남   69       기혼     Yongsan-gu    제조업

[500 rows x 6 columns]

In [13]:
def f(x):
    if x<20:
        return '20대 이하'
    elif 20<= x <30:
        return '20대'
    elif 30<= x <40:
        return '30대'
    elif 40<= x <50:
        return '40대'
    elif 50<= x <60:
        return '50대'
    else:
        return '60대 이상'
cs['고객별 연령대'] = cs['age'].apply(f);cs

     custid gender  age marriage      residence    job 고객별 연령대
0     10070      여   28       미혼     Yongsan-gu    제조업     20대
1     10139      여   28       미혼    Gangdong-gu  정보서비스     20대
2     10208      여   28       미혼    Gwangjin-gu    제조업     20대
3     10275      여   28       미혼   Eunpyeong-gu   개인사업     20대
4     10350      남   28       미혼     Gangnam-gu    제조업     20대
5     10425      남   28       미혼      Songpa-gu   교육기관     20대
6     10499      여   28       미혼   Seodaemun-gu   개인사업     20대
7     10567      여   28       미혼     Dongjak-gu  정보서비스     20대
8     10632      여   28       미혼   Eunpyeong-gu   개인사업     20대
9     10707      여   28       기혼     Dongjak-gu   개인사업     20대
10    10783      여   28       미혼     Dongjak-gu   개인사업     20대
11    10853      여   28       미혼    Jungnang-gu    제조업     20대
12    10919      여   28       기혼  Dongdaemun-gu   개인사업     20대
13    10983      여   28       미혼     Gangnam-gu   의료기관     20대
14    11046      여   28       미혼   Seongdong-gu   금융기관     20대
15    11113      여   28       미혼      Seocho-gu   의료기관     20대
16    11182      남   28       미혼        Mapo-gu   개인사업     20대
17    11264      여   28       미혼   Seodaemun-gu   교육기관     20대
18    11343      여   28       기혼      Gwanak-gu   개인사업     20대
19    11421      여   27       미혼     Gangseo-gu   의료기관     20대
20    11489      남   29       미혼     Gangbuk-gu   개인사업     20대
21    11563      여   28       기혼        Guro-gu    제조업     20대
22    11631      여   28       기혼   Yangcheon-gu  운송서비스     20대
23    11694      여   28       미혼  Dongdaemun-gu  정보서비스     20대
24    11767      여   30       기혼      Songpa-gu    제조업     30대
25    11843      남   28       미혼   Seodaemun-gu    그룹사     20대
26    11905      여   29       기혼      Songpa-gu   개인사업     20대
27    11969      남   29       미혼      Seocho-gu   개인사업     20대
28    12035      남   29       미혼   Seodaemun-gu   의료기관     20대
29    12105      여   29       미혼    Gangdong-gu    제조업     20대
..      ...    ...  ...      ...            ...    ...     ...
470   46230      여   57       기혼    Jungnang-gu   개인사업     50대
471   46327      여   58       기혼      Seocho-gu   금융기관     50대
472   46441      여   58       기혼     Gangnam-gu   교육기관     50대
473   46554      여   58       기혼   Seodaemun-gu  정보서비스     50대
474   46661      남   58       기혼      Seocho-gu    제조업     50대
475   46758      남   59       기혼    Gangdong-gu   개인사업     50대
476   46869      여   59       기혼      Seocho-gu    건설업     50대
477   46969      남   59       기혼    Gwangjin-gu   개인사업     50대
478   47084      남   59       기혼     Gangnam-gu    그룹사     50대
479   47203      남   59       기혼    Gangdong-gu   개인사업     50대
480   47319      여   60       기혼        Jung-gu    제조업  60대 이상
481   47410      남   60       기혼      Seocho-gu   언론기관  60대 이상
482   47523      여   60       기혼   Yangcheon-gu   교육기관  60대 이상
483   47614      여   60       기혼   Seodaemun-gu   개인사업  60대 이상
484   47739      남   61       기혼     Gangnam-gu   교육기관  60대 이상
485   47842      여   61       기혼      Songpa-gu   개인사업  60대 이상
486   47956      남   61       기혼     Gangnam-gu   개인사업  60대 이상
487   48044      여   62       기혼       Nowon-gu    전문직  60대 이상
488   48169      여   62       기혼      Seocho-gu   공공기관  60대 이상
489   48278      여   63       기혼   Seodaemun-gu   개인사업  60대 이상
490   48401      여   63       기혼     Gangnam-gu   교육기관  60대 이상
491   48556      여   64       기혼   Seodaemun-gu   개인사업  60대 이상
492   48686      여   63       기혼      Songpa-gu   도소매업  60대 이상
493   48796      남   65       기혼      Songpa-gu    제조업  60대 이상
494   48890      남   65       기혼     Yongsan-gu   금융기관  60대 이상
495   48997      여   66       기혼     Gangnam-gu   개인사업  60대 이상
496   49112      여   65       기혼   Seodaemun-gu   개인사업  60대 이상
497   49232      여   67       기혼   Seongdong-gu   개인사업  60대 이상
498   49351      여   68       기혼        Mapo-gu   개인사업  60대 이상
499   49470      남   69       기혼     Yongsan-gu    제조업  60대 이상

[500 rows x 7 columns]

In [6]:
cs = pd.read_table('dataCustomers.tab', sep='\t', encoding='cp949');cs

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

     custid gender  age marriage      residence    job
0     10070      여   28       미혼     Yongsan-gu    제조업
1     10139      여   28       미혼    Gangdong-gu  정보서비스
2     10208      여   28       미혼    Gwangjin-gu    제조업
3     10275      여   28       미혼   Eunpyeong-gu   개인사업
4     10350      남   28       미혼     Gangnam-gu    제조업
5     10425      남   28       미혼      Songpa-gu   교육기관
6     10499      여   28       미혼   Seodaemun-gu   개인사업
7     10567      여   28       미혼     Dongjak-gu  정보서비스
8     10632      여   28       미혼   Eunpyeong-gu   개인사업
9     10707      여   28       기혼     Dongjak-gu   개인사업
10    10783      여   28       미혼     Dongjak-gu   개인사업
11    10853      여   28       미혼    Jungnang-gu    제조업
12    10919      여   28       기혼  Dongdaemun-gu   개인사업
13    10983      여   28       미혼     Gangnam-gu   의료기관
14    11046      여   28       미혼   Seongdong-gu   금융기관
15    11113      여   28       미혼      Seocho-gu   의료기관
16    11182      남   28       미혼        Mapo-gu   개인사업
17    11264      여   28       미혼   Seodaemun-gu   교육기관
18    11343      여   28       기혼      Gwanak-gu   개인사업
19    11421      여   27       미혼     Gangseo-gu   의료기관
20    11489      남   29       미혼     Gangbuk-gu   개인사업
21    11563      여   28       기혼        Guro-gu    제조업
22    11631      여   28       기혼   Yangcheon-gu  운송서비스
23    11694      여   28       미혼  Dongdaemun-gu  정보서비스
24    11767      여   30       기혼      Songpa-gu    제조업
25    11843      남   28       미혼   Seodaemun-gu    그룹사
26    11905      여   29       기혼      Songpa-gu   개인사업
27    11969      남   29       미혼      Seocho-gu   개인사업
28    12035      남   29       미혼   Seodaemun-gu   의료기관
29    12105      여   29       미혼    Gangdong-gu    제조업
..      ...    ...  ...      ...            ...    ...
470   46230      여   57       기혼    Jungnang-gu   개인사업
471   46327      여   58       기혼      Seocho-gu   금융기관
472   46441      여   58       기혼     Gangnam-gu   교육기관
473   46554      여   58       기혼   Seodaemun-gu  정보서비스
474   46661      남   58       기혼      Seocho-gu    제조업
475   46758      남   59       기혼    Gangdong-gu   개인사업
476   46869      여   59       기혼      Seocho-gu    건설업
477   46969      남   59       기혼    Gwangjin-gu   개인사업
478   47084      남   59       기혼     Gangnam-gu    그룹사
479   47203      남   59       기혼    Gangdong-gu   개인사업
480   47319      여   60       기혼        Jung-gu    제조업
481   47410      남   60       기혼      Seocho-gu   언론기관
482   47523      여   60       기혼   Yangcheon-gu   교육기관
483   47614      여   60       기혼   Seodaemun-gu   개인사업
484   47739      남   61       기혼     Gangnam-gu   교육기관
485   47842      여   61       기혼      Songpa-gu   개인사업
486   47956      남   61       기혼     Gangnam-gu   개인사업
487   48044      여   62       기혼       Nowon-gu    전문직
488   48169      여   62       기혼      Seocho-gu   공공기관
489   48278      여   63       기혼   Seodaemun-gu   개인사업
490   48401      여   63       기혼     Gangnam-gu   교육기관
491   48556      여   64       기혼   Seodaemun-gu   개인사업
492   48686      여   63       기혼      Songpa-gu   도소매업
493   48796      남   65       기혼      Songpa-gu    제조업
494   48890      남   65       기혼     Yongsan-gu   금융기관
495   48997      여   66       기혼     Gangnam-gu   개인사업
496   49112      여   65       기혼   Seodaemun-gu   개인사업
497   49232      여   67       기혼   Seongdong-gu   개인사업
498   49351      여   68       기혼        Mapo-gu   개인사업
499   49470      남   69       기혼     Yongsan-gu    제조업

[500 rows x 6 columns]

In [7]:
tr = pd.read_table('dataTransactions.tab', sep='\t', encoding='cp949');tr

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

,datetime,custid,store,product,brand,corner,import,amount,installment
0,2000-05-01 10:43,18313,신촌점,4104840008000,샤넬,화장품,1,113000,3
1,2000-05-01 11:00,18313,신촌점,2700000000000,식품,일반식품,0,91950,3
2,2000-05-01 11:33,27222,신촌점,4545370944500,까사미아,가구,0,598000,3
3,2000-05-01 11:43,27222,신촌점,4500860043900,대아통상,기타,0,20100,1
4,2000-05-01 11:53,27222,신촌점,4538130048700,토이플러스,문화완구,0,24000,1
5,2000-05-01 12:00,27222,신촌점,4406010020474,베베,유아동복,0,28000,1
6,2000-05-01 12:00,47084,무역점,4421060026971,오마샤리프,스포츠,0,150000,3
7,2000-05-01 12:03,27222,신촌점,4400280023100,NUK,유아동복,0,43800,1
8,2000-05-01 12:03,31090,무역점,4408171025000,잭니클라우스,스포츠,0,118000,3
9,2000-05-01 12:13,27222,신촌점,4401440022000,무냐무냐,유아동복,0,47000,1
10,2000-05-01 12:23,27222,신촌점,2139141008000,랑콤,화장품,0,143000,3
11,2000-05-01 12:30,27222,신촌점,2700000000000,식품,일반식품,0,43710,1
12,2000-05-01 12:43,31090,무역점,4209560111000,시스템,영캐주얼,0,35000,1
13,2000-05-01 13:12,13907,신촌점,4401951020000,블루독,유아동복,0,20000,1
14,2000-05-01 13:20,38979,천호점,2700000000000,식품,일반식품,0,38347,1
15,2000-05-01 13:22,13907,신촌점,4400280023100,NUK,유아동복,0,14000,1
16,2000-05-01 13:30,13907,신촌점,4404861029970,엘레쎄의류,스포츠,0,65000,3
17,2000-05-01 14:00,21877,무역점,2700000000000,식품,일반식품,0,70725,1
18,2000-05-01 14:03,31090,무역점,4139660008000,달팡,화장품,0,764000,3
19,2000-05-01 14:10,15288,무역점,4800429513002,밀라노스토리무역,캐릭터캐주얼,0,49000,1
20,2000-05-01 14:30,31090,무역점,2700000000000,식품,일반식품,0,16500,1
21,2000-05-01 14:40,15288,무역점,4230010013074,린,캐릭터캐주얼,0,198000,3
22,2000-05-01 14:50,16447,신촌점,4553010050770,토이스쿨,문화완구,0,118000,3
23,2000-05-01 15:03,38405,천호점,4109310008000,아모레,화장품,0,103000,3
24,2000-05-01 15:20,24621,본점,4207710010000,제이알,디자이너부띠끄,0,368000,3
25,2000-05-01 15:30,24548,천호점,4520930050873,베이비케어,문화완구,0,17000,1
26,2000-05-01 15:33,19686,신촌점,4401440022000,무냐무냐,유아동복,0,68200,1
27,2000-05-01 15:40,20670,본점,4525140043075,동성/브릴리앙스,조리욕실,0,64000,3
28,2000-05-01 15:40,47084,무역점,2700000000000,식품,일반식품,0,19080,1
29,2000-05-01 15:44,48278,신촌점,4400510025000,울시,스포츠,0,195000,3
...,...,...,...,...,...,...,...,...,...
19095,2001-04-29 16:00,23824,본점,2700000000000,식품,일반식품,0,44754,1
19096,2001-04-29 16:03,29640,신촌점,4129650805900,톰보이토탈,피혁,0,127000,3
19097,2001-04-29 16:13,29640,신촌점,4202201011000,나이스클랍,영캐주얼,0,148000,3
19098,2001-04-29 16:20,44246,무역점,4536380046000,폴로,침구수예,0,105000,3
19099,2001-04-29 16:22,44735,본점,4230120011200,스테파넬,영캐주얼,0,139000,1
19100,2001-04-29 16:22,44735,본점,4209563011200,SJ,영캐주얼,0,55000,1
19101,2001-04-29 16:30,25723,신촌점,4415080029980,나이키행사,스포츠,0,111000,3
19102,2001-04-29 16:40,28788,천호점,2700000000000,식품,일반식품,0,43200,1
19103,2001-04-29 16:40,38663,무역점,2139140008300,폴로화장품,화장품,0,168000,1
19104,2001-04-29 16:50,28788,천호점,2700000000000,식품,일반식품,0,43200,1
19105,2001-04-29 16:53,37340,천호점,4109161008000,겔랑,화장품,1,78000,1
19106,2001-04-29 17:20,26324,신촌점,2700000000000,식품,일반식품,0,8620,1
19107,2001-04-29 17:20,26324,신촌점,2700000000000,식품,일반식품,0,55896,1
19108,2001-04-29 17:30,26324,신촌점,2700000000000,식품,일반식품,0,9000,1
19109,2001-04-29 17:33,16447,신촌점,4100394005900,W M,피혁,0,148000,3
19110,2001-04-29 17:53,31771,신촌점,4106530008200,메이컵포에버,화장품,1,18000,1
19111,2001-04-29 17:53,31771,신촌점,4107320001100,월비스타킹,섬유,0,21000,1
19112,2001-04-29 18:10,22385,본점,4125900007980,쟝폴클라리쎄,장신구,0,60000,3
19113,2001-04-29 18:20,45865,본점,4109310008000,아모레,화장품,0,200000,3
19114,2001-04-29 18:23,31771,신촌점,4241200026000,스푼,유니캐주얼,0,63000,1
19115,2001-04-29 18:30,37423,천호점,4413470029970,피에르가르뎅,스포츠,0,38000,1
19116,2001-04-29 18:32,21235,천호점,4312200019900,폴로,트래디셔널캐주얼,0,82000,3
19117,2001-04-29 18:33,28788,천호점,4411690026000,쌈지스포츠,유니캐주얼,0,61000,3
19118,2001-04-29 18:40,38586,천호점,2700000000000,식품,일반식품,0,43734,1
19119,2001-04-29 18:53,13493,무역점,4212360010000,오브제,캐릭터캐주얼,0,26800,1
19120,2001-04-29 19:00,29477,천호점,4100560001176,비너스스타킹,섬유,0,16000,1
19121,2001-04-29 19:00,38586,천호점,2700000000000,식품,일반식품,0,38220,1
19122,2001-04-29 19:03,38979,무역점,2139141008000,랑콤,화장품,0,25000,1
19123,2001-04-29 19:13,13493,무역점,4212360010000,오브제,캐릭터캐주얼,0,7000,1
19124,2001-04-29 19:13,38979,무역점,2116052008000,크리니크,화장품,1,27000,1

**Exerxise1** 내점일수

In [12]:
tr.groupby('custid').datetime.count()

custid
10070     20
10139     16
10208    173
10275      7
10350     17
10425      3
10499     23
10567     18
10632     21
10707      7
10783      5
10853     11
10919      5
10983     29
11046     35
11113     36
11182     37
11264     68
11343      6
11421     61
11489     12
11563     11
11631      7
11694      2
11767     17
11843     56
11905     43
11969     10
12035      9
12105     23
        ...
46230      1
46327     40
46441     18
46554    113
46661      8
46758      7
46869      6
46969     33
47084    163
47203     31
47319     10
47410      9
47523      7
47614     29
47739     59
47842     26
47956     36
48044     17
48169      6
48278    230
48401      4
48556     11
48686     19
48796      4
48890     46
48997    171
49112     12
49232     15
49351      9
49470     40
Name: datetime, Length: 500, dtype: int64

**Exerxise2** 평균 할부개월수

In [13]:
tr.groupby('custid').installment.mean()

custid
10070    1.500000
10139    2.125000
10208    1.416185
10275    1.857143
10350    2.058824
10425    1.000000
10499    1.608696
10567    1.555556
10632    1.476190
10707    1.571429
10783    2.800000
10853    2.090909
10919    6.000000
10983    1.689655
11046    2.942857
11113    1.611111
11182    1.702703
11264    2.323529
11343    2.666667
11421    1.606557
11489    3.000000
11563    1.181818
11631    1.571429
11694    1.000000
11767    1.000000
11843    1.428571
11905    1.046512
11969    1.400000
12035    3.000000
12105    1.000000
           ...
46230    1.000000
46327    2.250000
46441    2.444444
46554    1.477876
46661    1.750000
46758    2.142857
46869    2.000000
46969    2.848485
47084    1.208589
47203    2.064516
47319    2.300000
47410    2.222222
47523    1.714286
47614    2.206897
47739    1.033898
47842    1.769231
47956    2.222222
48044    1.823529
48169    2.333333
48278    2.513043
48401    4.500000
48556    1.909091
48686    2.368421
48796    2.000000
48890    2.217391
48997    1.000000
49112    2.916667
49232    2.200000
49351    1.888889
49470    1.250000
Name: installment, Length: 500, dtype: float64

**Exerxise3**  'gap'의 'year' 칼럼을 1년씩 증가시켜 주세요.

작성한 코드 뒤에 보기 편하게 .head()를 붙여주시면 감사하겠습니다!!

In [19]:
gap = pd.read_csv('gapminder.tsv', sep = '\t');gap #꼭 실행시켜 주세요!

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [20]:
def f(x):
    return x+1
gap['year'] = gap['year'].apply(f)
gap

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1953   28.801   8425333   779.445314
1     Afghanistan      Asia  1958   30.332   9240934   820.853030
2     Afghanistan      Asia  1963   31.997  10267083   853.100710
3     Afghanistan      Asia  1968   34.020  11537966   836.197138
4     Afghanistan      Asia  1973   36.088  13079460   739.981106
5     Afghanistan      Asia  1978   38.438  14880372   786.113360
6     Afghanistan      Asia  1983   39.854  12881816   978.011439
7     Afghanistan      Asia  1988   40.822  13867957   852.395945
8     Afghanistan      Asia  1993   41.674  16317921   649.341395
9     Afghanistan      Asia  1998   41.763  22227415   635.341351
10    Afghanistan      Asia  2003   42.129  25268405   726.734055
11    Afghanistan      Asia  2008   43.828  31889923   974.580338
12        Albania    Europe  1953   55.230   1282697  1601.056136
13        Albania    Europe  1958   59.280   1476505  1942.284244
14        Albania    Europe  1963   64.820   1728137  2312.888958
15        Albania    Europe  1968   66.220   1984060  2760.196931
16        Albania    Europe  1973   67.690   2263554  3313.422188
17        Albania    Europe  1978   68.930   2509048  3533.003910
18        Albania    Europe  1983   70.420   2780097  3630.880722
19        Albania    Europe  1988   72.000   3075321  3738.932735
20        Albania    Europe  1993   71.581   3326498  2497.437901
21        Albania    Europe  1998   72.950   3428038  3193.054604
22        Albania    Europe  2003   75.651   3508512  4604.211737
23        Albania    Europe  2008   76.423   3600523  5937.029526
24        Algeria    Africa  1953   43.077   9279525  2449.008185
25        Algeria    Africa  1958   45.685  10270856  3013.976023
26        Algeria    Africa  1963   48.303  11000948  2550.816880
27        Algeria    Africa  1968   51.407  12760499  3246.991771
28        Algeria    Africa  1973   54.518  14760787  4182.663766
29        Algeria    Africa  1978   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1983   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1988   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1993   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1998   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2003   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2008   62.698  22211743  2280.769906
1680       Zambia    Africa  1953   42.038   2672000  1147.388831
1681       Zambia    Africa  1958   44.077   3016000  1311.956766
1682       Zambia    Africa  1963   46.023   3421000  1452.725766
1683       Zambia    Africa  1968   47.768   3900000  1777.077318
1684       Zambia    Africa  1973   50.107   4506497  1773.498265
1685       Zambia    Africa  1978   51.386   5216550  1588.688299
1686       Zambia    Africa  1983   51.821   6100407  1408.678565
1687       Zambia    Africa  1988   50.821   7272406  1213.315116
1688       Zambia    Africa  1993   46.100   8381163  1210.884633
1689       Zambia    Africa  1998   40.238   9417789  1071.353818
1690       Zambia    Africa  2003   39.193  10595811  1071.613938
1691       Zambia    Africa  2008   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1953   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1958   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1963   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1968   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1973   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1978   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1983   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1988   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1993   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1998   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2003   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2008   43.487  12311143   469.709298

[1704 rows x 6 columns]

**Exerxise4** 'gap'의 'continent'가 'Aisa'일 경우 '1', 그 외의 나라일 경우 '2'로하여 새로운 열인 'Num'에 저장하세요.

(Num 칼럼의 데이터타입은 object입니다.)

In [24]:
def f(x):
    if x == 'Asia':
        return '1'
    else:
        return '2'
gap['Num'] = gap['continent'].apply(f);gap

          country continent  year  lifeExp       pop    gdpPercap Num
0     Afghanistan      Asia  1953   28.801   8425333   779.445314   1
1     Afghanistan      Asia  1958   30.332   9240934   820.853030   1
2     Afghanistan      Asia  1963   31.997  10267083   853.100710   1
3     Afghanistan      Asia  1968   34.020  11537966   836.197138   1
4     Afghanistan      Asia  1973   36.088  13079460   739.981106   1
5     Afghanistan      Asia  1978   38.438  14880372   786.113360   1
6     Afghanistan      Asia  1983   39.854  12881816   978.011439   1
7     Afghanistan      Asia  1988   40.822  13867957   852.395945   1
8     Afghanistan      Asia  1993   41.674  16317921   649.341395   1
9     Afghanistan      Asia  1998   41.763  22227415   635.341351   1
10    Afghanistan      Asia  2003   42.129  25268405   726.734055   1
11    Afghanistan      Asia  2008   43.828  31889923   974.580338   1
12        Albania    Europe  1953   55.230   1282697  1601.056136   2
13        Albania    Europe  1958   59.280   1476505  1942.284244   2
14        Albania    Europe  1963   64.820   1728137  2312.888958   2
15        Albania    Europe  1968   66.220   1984060  2760.196931   2
16        Albania    Europe  1973   67.690   2263554  3313.422188   2
17        Albania    Europe  1978   68.930   2509048  3533.003910   2
18        Albania    Europe  1983   70.420   2780097  3630.880722   2
19        Albania    Europe  1988   72.000   3075321  3738.932735   2
20        Albania    Europe  1993   71.581   3326498  2497.437901   2
21        Albania    Europe  1998   72.950   3428038  3193.054604   2
22        Albania    Europe  2003   75.651   3508512  4604.211737   2
23        Albania    Europe  2008   76.423   3600523  5937.029526   2
24        Algeria    Africa  1953   43.077   9279525  2449.008185   2
25        Algeria    Africa  1958   45.685  10270856  3013.976023   2
26        Algeria    Africa  1963   48.303  11000948  2550.816880   2
27        Algeria    Africa  1968   51.407  12760499  3246.991771   2
28        Algeria    Africa  1973   54.518  14760787  4182.663766   2
29        Algeria    Africa  1978   58.014  17152804  4910.416756   2
...           ...       ...   ...      ...       ...          ...  ..
1674  Yemen, Rep.      Asia  1983   49.113   9657618  1977.557010   1
1675  Yemen, Rep.      Asia  1988   52.922  11219340  1971.741538   1
1676  Yemen, Rep.      Asia  1993   55.599  13367997  1879.496673   1
1677  Yemen, Rep.      Asia  1998   58.020  15826497  2117.484526   1
1678  Yemen, Rep.      Asia  2003   60.308  18701257  2234.820827   1
1679  Yemen, Rep.      Asia  2008   62.698  22211743  2280.769906   1
1680       Zambia    Africa  1953   42.038   2672000  1147.388831   2
1681       Zambia    Africa  1958   44.077   3016000  1311.956766   2
1682       Zambia    Africa  1963   46.023   3421000  1452.725766   2
1683       Zambia    Africa  1968   47.768   3900000  1777.077318   2
1684       Zambia    Africa  1973   50.107   4506497  1773.498265   2
1685       Zambia    Africa  1978   51.386   5216550  1588.688299   2
1686       Zambia    Africa  1983   51.821   6100407  1408.678565   2
1687       Zambia    Africa  1988   50.821   7272406  1213.315116   2
1688       Zambia    Africa  1993   46.100   8381163  1210.884633   2
1689       Zambia    Africa  1998   40.238   9417789  1071.353818   2
1690       Zambia    Africa  2003   39.193  10595811  1071.613938   2
1691       Zambia    Africa  2008   42.384  11746035  1271.211593   2
1692     Zimbabwe    Africa  1953   48.451   3080907   406.884115   2
1693     Zimbabwe    Africa  1958   50.469   3646340   518.764268   2
1694     Zimbabwe    Africa  1963   52.358   4277736   527.272182   2
1695     Zimbabwe    Africa  1968   53.995   4995432   569.795071   2
1696     Zimbabwe    Africa  1973   55.635   5861135   799.362176   2
1697     Zimbabwe    Africa  1978   57.674   6642107   685.587682   2
1698     Zimbabwe    Africa  1983   60.363   7636524   788.855041   2
1699     Zimbabwe    Africa  1988   62.351   9216418   706.157306   2
1700     Zimbabwe    Africa  1993   60.377  10704340   693.420786   2
1701     Zimbabwe    Africa  1998   46.809  11404948   792.449960   2
1702     Zimbabwe    Africa  2003   39.989  11926563   672.038623   2
1703     Zimbabwe    Africa  2008   43.487  12311143   469.709298   2

[1704 rows x 7 columns]

**Exerxise5** 'weather' 데이터를 'weather' 변수에 할당하여 불러온 후, 'd2'와 'd27' 열의 결측값을 각각 1과 0으로 채워주세요.

(단, 'weather'를 불러왔을 때, 'd2'와 'd27'이 1과 0으로 채워져 있어야 합니다.)

In [25]:
weather = pd.read_csv("weather.csv");weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
weathers = weather.fillna({'d2':1,'d7':0});weathers

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,1.0,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,1.0,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,1.0,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,1.0,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,1.0,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,1.0,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,1.0,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,1.0,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,1.0,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,1.0,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Exerxise6**  'billboard' 데이터를 'bill' 변수에 할당하세요. 그 다음에 'time' 열에서 분만 추출하여 새로운 칼럼 'Min'에 저장하세요.
(※ time열은 분:초)

In [8]:
bill = pd.read_csv('billboard.csv',sep = ',')
bill.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [9]:
def f(x):
    return x[0]
bill['Min'] = bill['time'].apply(f);bill

     year                artist                    track  time Min
0    2000                 2 Pac  Baby Don't Cry (Keep...  4:22   4
1    2000               2Ge+her  The Hardest Part Of ...  3:15   3
2    2000          3 Doors Down               Kryptonite  3:53   3
3    2000          3 Doors Down                    Loser  4:24   4
4    2000              504 Boyz            Wobble Wobble  3:35   3
5    2000                  98^0  Give Me Just One Nig...  3:24   3
6    2000               A*Teens            Dancing Queen  3:44   3
7    2000               Aaliyah            I Don't Wanna  4:15   4
8    2000               Aaliyah                Try Again  4:03   4
9    2000        Adams, Yolanda            Open My Heart  5:30   5
10   2000         Adkins, Trace                     More  3:05   3
11   2000   Aguilera, Christina  Come On Over Baby (A...  3:38   3
12   2000   Aguilera, Christina            I Turn To You  4:00   4
13   2000   Aguilera, Christina        What A Girl Wants  3:18   3
14   2000          Alice Deejay         Better Off Alone  6:50   6
15   2000           Allan, Gary  Smoke Rings In The D...  4:18   4
16   2000                 Amber                   Sexual  4:38   4
17   2000             Anastacia           I'm Outta Love  4:01   4
18   2000         Anthony, Marc              My Baby You  3:59   3
19   2000         Anthony, Marc           You Sang To Me  3:50   3
20   2000                 Avant            My First Love  4:28   4
21   2000                 Avant                Separated  4:13   4
22   2000                 BBMak                Back Here  3:35   3
23   2000  Backstreet Boys, The        Shape Of My Heart  3:49   3
24   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   3
25   2000  Backstreet Boys, The                  The One  3:46   3
26   2000          Badu, Erkyah                 Bag Lady  5:03   5
27   2000              Baha Men     Who Let The Dogs Out  3:17   3
28   2000      Barenaked Ladies                 Pinch Me  3:46   3
29   2000            Beenie Man          Girls Dem Sugar  4:17   4
..    ...                   ...                      ...   ...  ..
287  2000          Thomas, Carl                Emotional  4:31   4
288  2000          Thomas, Carl                   I Wish  3:50   3
289  2000          Thomas, Carl              Summer Rain  4:57   4
290  2000         Tippin, Aaron                Kiss This  2:53   2
291  2000                 Train            Meet Virginia  3:55   3
292  2000           Trick Daddy                  Shut Up  4:17   4
293  2000                 Trina                Pull Over  2:58   2
294  2000         Tritt, Travis       Best Of Intentions  4:15   4
295  2000               Tuesday                   I Know  4:06   4
296  2000          Urban, Keith          Your Everything  4:10   4
297  2000                 Usher            Pop Ya Collar  3:36   3
298  2000          Vassar, Phil                  Carlene  4:07   4
299  2000          Vassar, Phil  Just Another Day In ...  3:54   3
300  2000      Vertical Horizon      Everything You Want  4:01   4
301  2000      Vertical Horizon             You're A God  3:45   3
302  2000             Vitamin C  Graduation (Friends ...  4:23   4
303  2000             Vitamin C                 The Itch  3:30   3
304  2000          Walker, Clay        Live, Laugh, Love  4:06   4
305  2000          Walker, Clay        The Chain Of Love  5:03   5
306  2000      Wallflowers, The              Sleepwalker  3:29   3
307  2000              Westlife           Swear It Again  4:07   4
308  2000      Williams, Robbie                   Angels  3:56   3
309  2000           Wills, Mark              Back At One  4:00   4
310  2000        Worley, Darryl  When You Need My Lov...  3:35   3
311  2000         Wright, Chely                   It Was  3:51   3
312  2000           Yankee Grey     Another Nine Minutes  3:10   3
313  2000      Yearwood, Trisha          Real Live Woman  3:55   3
314  2000       Ying Yang Twins  Whistle While You Tw...  4:19   4
315  2000         Zombie Nation            Kernkraft 400  3:30   3
316  2000       matchbox twenty                     Bent  4:12   4

[317 rows x 5 columns]