In [1]:
import pandas as pd
import numpy as np

In [2]:
data_id = pd.read_csv('Id_info.csv', encoding = 'cp949')
data_buy = pd.read_csv('Buy_info.csv', encoding = 'cp949')

In [16]:
data_buy.head()

          ID 상품대분류명     상품중분류명    구매지역      구매일자  구매시간  구매수량    구매금액  취소여부
0  410362886   의류잡화  여성용의류-정장류  서울 송파구  20140510     1     1  198000     0
1  643279402     식품        농산물  경기 성남시  20140612     1     1    2000     0
2  643279402     식품        농산물  경기 성남시  20140612     1     1    4000     0
3  643279402     식품        농산물  경기 성남시  20140612     1     1    5000     0
4  643279402     식품        농산물  경기 성남시  20140612     1     1    9000     0

In [8]:
data_id.head()

          ID  성별  연령     거주지역
0  478207946   1  84   서울 성동구
1  479806984   1  84   서울 서초구
2   94790213   1  84   부산 사상구
3  656026338   1  84  서울 영등포구
4  433076833   1  83   경기 고양시

In [17]:
data=pd.merge(data_id,data_buy,on='ID',how='left');data

,ID,성별,연령,거주지역,상품대분류명,상품중분류명,구매지역,구매일자,구매시간,구매수량,구매금액,취소여부
0,478207946,1,84,서울 성동구,가전제품,컴퓨터주변기기,서울 동대문구,20141219,13,1,59000,0
1,478207946,1,84,서울 성동구,가전제품,TV/AV,서울 동대문구,20141031,14,1,106000,0
2,478207946,1,84,서울 성동구,가전제품,주방가전,서울 중구,20140815,15,1,37000,0
3,478207946,1,84,서울 성동구,의류잡화,여성용의류-이너웨어,서울 동대문구,20140322,17,1,118000,0
4,479806984,1,84,서울 서초구,생활잡화,화장품,서울 중구,20140704,12,1,22000,0
5,479806984,1,84,서울 서초구,생활잡화,화장품,서울 중구,20140704,12,1,26000,0
6,479806984,1,84,서울 서초구,생활잡화,화장품,서울 중구,20140704,12,1,53000,0
7,479806984,1,84,서울 서초구,가전제품,생활가전,서울 송파구,20141218,13,1,120000,0
8,479806984,1,84,서울 서초구,가전제품,생활가전,서울 중구,20140607,14,1,97000,0
9,94790213,1,84,부산 사상구,생활잡화,생활용품,부산 부산진구,20140714,14,1,12000,0
10,94790213,1,84,부산 사상구,의류잡화,여성용의류-고급의류,부산 부산진구,20140611,14,8,7000,0
11,94790213,1,84,부산 사상구,의류잡화,여성용의류-고급의류,부산 부산진구,20140611,14,12,107000,0
12,94790213,1,84,부산 사상구,가전제품,생활가전,부산 부산진구,20141212,16,1,35000,0
13,94790213,1,84,부산 사상구,가전제품,TV/AV,부산 부산진구,20140529,17,1,23000,0
14,94790213,1,84,부산 사상구,식품,가공식품,부산 부산진구,20140623,17,2,10000,0
15,94790213,1,84,부산 사상구,의류잡화,패션잡화,부산 부산진구,20140207,17,1,22000,0
16,656026338,1,84,서울 영등포구,식품,가공식품,서울 영등포구,20140926,14,1,13000,0
17,656026338,1,84,서울 영등포구,식품,가공식품,서울 영등포구,20140505,16,1,8000,0
18,656026338,1,84,서울 영등포구,식품,가공식품,서울 영등포구,20140127,17,1,8000,0
19,433076833,1,83,경기 고양시,가전제품,생활가전,경기 고양시,20141004,10,1,11000,0
20,433076833,1,83,경기 고양시,식품,가공식품,서울 중구,20141025,11,1,3000,0
21,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140423,11,1,1000,0
22,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140423,11,1,3000,0
23,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140423,11,2,2000,0
24,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140517,11,1,4000,0
25,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140616,11,1,1000,0
26,433076833,1,83,경기 고양시,식품,음료,서울 중구,20140616,11,1,3000,0
27,433076833,1,83,경기 고양시,식품,음료,서울 중구,20141024,11,1,1000,0
28,433076833,1,83,경기 고양시,식품,음료,서울 중구,20141024,11,1,2000,0
29,433076833,1,83,경기 고양시,식품,음료,서울 중구,20141024,11,2,4000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101662,748888960,2,57,경기 수원시,가전제품,주방가전,경기 수원시,20141126,12,1,311000,0
101663,748888960,2,57,경기 수원시,가전제품,생활가전,경기 수원시,20141208,15,1,178000,0
101664,118963032,2,59,부산 부산진구,가전제품,생활가전,부산 부산진구,20141228,11,1,542000,0
101665,118963032,2,59,부산 부산진구,의류잡화,구두,부산 부산진구,20141229,11,1,141000,0
101666,118963032,2,59,부산 부산진구,레포츠,스포츠용품/의류,부산 부산진구,20141206,12,1,249000,0
101667,118963032,2,59,부산 부산진구,가전제품,주방가전,부산 연제구,20141222,13,1,2000,0
101668,118963032,2,59,부산 부산진구,가전제품,주방가전,부산 연제구,20141222,13,1,40000,0
101669,118963032,2,59,부산 부산진구,식품,가공식품,부산 부산진구,20141229,16,1,12000,0
101670,118963032,2,59,부산 부산진구,의류잡화,여성용의류-SPA,부산 부산진구,20141229,16,1,524000,0
101671,164097706,1,67,경기 안양시,가전제품,주방가전,경기 안양시,20141126,12,1,44000,0
101672,164097706,1,67,경기 안양시,가전제품,생활가전,경기 안양시,20140514,14,1,60000,0
101673,164097706,1,67,경기 안양시,의류잡화,남성용의류-정장류,서울 중구,20141222,14,1,879000,0
101674,164097706,1,67,경기 안양시,의류잡화,여성용의류-이너웨어,경기 안양시,20141220,15,1,157000,0
101675,164097706,1,67,경기 안양시,레포츠,골프용품/의류,경기 안양시,20141220,16,1,9000,0
101676,164097706,1,67,경기 안양시,레포츠,골프용품/의류,경기 안양시,20141220,16,1,11000,0
101677,164097706,1,67,경기 안양시,레포츠,골프용품/의류,경기 안양시,20141220,16,1,96000,0
101678,154314532,1,66,부산 사하구,가구,가구,부산 중구,20141226,16,1,39000,0
101679,154314532,1,66,부산 사하구,생활잡화,침구류,부산 중구,20141226,16,1,123000,0
101680,154314532,1,66,부산 사하구,가전제품,주방가전,부산 사상구,20141205,19,1,684000,0
101681,416998709,1,59,경기 수원시,식품,가공식품,경기 수원시,20141221,18,1,21000,0
101682,416998709,1,59,경기 수원시,식품,가공식품,경기 수원시,20141221,19,1,11000,0
101683,416998709,1,59,경기 수원시,식품,수산물,경기 수원시,20141221,19,1,9000,0
101684,168692065,2,63,경기 안양시,식품,가공식품,경기 안양시,20141229,19,1,9000,0
101685,168692065,2,63,경기 안양시,식품,음료,경기 안양시,20141229,19,1,1000,0
101686,955481370,2,58,경기 의왕시,식품,가공식품,경기 안양시,20141225,19,1,9000,0
101687,955481370,2,58,경기 의왕시,의류잡화,남성용의류-정장류,경기 안양시,20141225,19,1,60000,0
101688,955481370,2,58,경기 의왕시,의류잡화,패션잡화,경기 안양시,20141225,19,3,93000,0
101689,955481370,2,58,경기 의왕시,가전제품,생활가전,경기 안양시,20141212,20,1,1057000,0
101690,821581510,2,64,경기 안양시,식품,가공식품,경기 광명시,20141221,12,1,5000,0
101691,821581510,2,64,경기 안양시,의류잡화,여성용의류-SPA,경기 광명시,20141221,12,1,62000,0

Q1. `70대 여성` 고객정보를 출력하시오.

In [10]:
data_id.query('성별==1 and 연령>=70')

             ID  성별  연령     거주지역
0     478207946   1  84   서울 성동구
1     479806984   1  84   서울 서초구
2      94790213   1  84   부산 사상구
3     656026338   1  84  서울 영등포구
4     433076833   1  83   경기 고양시
5     867549189   1  83   서울 동작구
7     670304024   1  82   서울 송파구
8     623668388   1  82   서울 송파구
10    551136973   1  82   경기 성남시
11    168381266   1  81  경기 남양주시
12    278285231   1  81   서울 성북구
15    236066690   1  81   서울 송파구
16    474763658   1  81    부산 북구
19    914115041   1  80   경기 고양시
23     89988341   1  80  경기 남양주시
26    685627362   1  79   경기 구리시
27    887687760   1  79   서울 강남구
28    485721733   1  79  서울 동대문구
32    921118696   1  79   서울 송파구
36     68651557   1  78   서울 노원구
38    588288453   1  78  부산 해운대구
44    803063364   1  77   부산 사하구
45    644403176   1  77   경기 안산시
46    551974337   1  77   서울 서초구
47    131205778   1  77   서울 송파구
48    672015868   1  77   부산 수영구
51    257364199   1  77   경기 안양시
52    983250333   1  77   부산 수영구
53    709863345   1  77   경기 안양시
55    625313183   1  76  경기 남양주시
...         ...  ..  ..      ...
3066  327691810   1  74  서울 동대문구
3077  282907378   1  74   서울 강북구
3092   72318200   1  72   경기 가평군
3098  799977248   1  73   부산 사하구
3117  662490088   1  73   경기 수원시
3118  818812845   1  74   경기 김포시
3130  838867026   1  70   경기 화성시
3132  385371598   1  75   서울 용산구
3146  669344224   1  71   경기 수원시
3153  326843610   1  80  부산 해운대구
3192  235825650   1  71   서울 노원구
3196     741463   1  78  서울 동대문구
3212  270357025   1  81   경기 수원시
3224  467796247   1  77    서울 중구
3233  501922469   1  75   경기 김포시
3246  925696369   1  76   경기 광주시
3268  638536145   1  74   경기 안양시
3275   10116479   1  74  부산 부산진구
3295  432836766   1  72   경기 양평군
3302  300478172   1  70  경기 의정부시
3314  949019870   1  79   경기 성남시
3338  941222787   1  74   경기 군포시
3365  856707624   1  70   경기 안산시
3377  917245663   1  77   경기 안양시
3411   12384212   1  77  서울 서대문구
3427  617587639   1  70   경기 양평군
3448  893751652   1  70  경기 남양주시
3457  177127913   1  71  서울 동대문구
3521  160607028   1  76   경기 부천시
3530  831639259   1  71   서울 강남구

[151 rows x 4 columns]

Q2. `남자` 고객과 `여성` 고객의 평균 나이는?

In [11]:
data_id.groupby('성별')['연령'].mean()

성별
1    62.442375
2    60.637719
Name: 연령, dtype: float64

Q3. `상품중분류명` 기준 상품종류의 개수는?

In [18]:
print(len(list(set(data_buy['상품중분류명']))))

31

Q4. `축산물`은 하루 중 언제 가장 많이 팔리는가?

In [27]:
data_buy_1=data_buy.sort_values(by='구매수량',ascending=False)
data_buy_1.query('상품중분류명=="축산물"',inplace=True)
data_buy_1.iloc[0,5]

14

Q5. `총 구매액`이 가장 많은 사람부터 적은 사람 순으로 정렬하여 `상위 10명`만 출력하시오.

In [33]:
buy=pd.DataFrame(data_buy.groupby('ID')['구매금액'].sum())
buy_1=pd.merge(data_buy,buy,on='ID',how='left');buy_1
buy_1.rename(columns={'구매금액_x':'구맥금액','구매금액_y':'총구매액'},inplace=True)
buy_1.sort_values(by='총구매액', ascending=False).head(10)

,ID,상품대분류명,상품중분류명,구매지역,구매일자,구매시간,구매수량,구맥금액,취소여부,총구매액
100444,700882892,식품,가공식품,서울 중구,20140620,20,1,13000,0,136348000
100448,700882892,의류잡화,남성용의류-캐주얼,서울 중구,20141207,20,1,27000,0,136348000
12571,700882892,식품,가공식품,서울 영등포구,20140122,12,1,6000,0,136348000
12572,700882892,식품,가공식품,서울 중구,20141115,12,1,62000,0,136348000
12573,700882892,식품,수산물,서울 영등포구,20140627,12,1,9000,0,136348000
12574,700882892,의류잡화,여성용의류-정장류,서울 영등포구,20141226,12,1,88000,0,136348000
22944,700882892,의류잡화,여성용의류-정장류,서울 영등포구,20141226,13,-1,-27000,1,136348000
100443,700882892,식품,가공식품,서울 중구,20140620,20,1,11000,0,136348000
100445,700882892,식품,농산물,서울 영등포구,20140801,20,1,1000,0,136348000
100446,700882892,식품,농산물,서울 영등포구,20140801,20,1,11000,0,136348000

Q6. `고객`의 `구매지역`별 `구매금액`의 합을 구하시오.

In [34]:
data_buy.groupby(['ID','구매지역'])['구매금액'].sum()

ID         구매지역
741463     서울 동대문구      560000
909249     부산 동래구       166000
           부산 중구             0
           부산 해운대구      474000
1065068    서울 동대문구      286000
           서울 성동구       138000
           서울 송파구       679000
1310410    경기 고양시       249000
1387032    경기 안산시        14000
           경기 안양시        49000
           서울 중구         50000
1529116    서울 동대문구       66000
1639060    경기 안양시       112000
2272647    부산 동래구        97000
           부산 부산진구     1039000
           부산 해운대구           0
           서울 중구         89000
2413953    경기 이천시       316000
           서울 강남구      3861000
           서울 송파구       213000
2460849    부산 부산진구       83000
           부산 사상구      7504000
2785392    경기 양평군       185000
           서울 노원구       893000
           서울 동대문구      367000
2960045    부산 동래구        20000
           부산 부산진구        9000
           부산 중구          9000
           부산 해운대구      506000
3600570    부산 동래구       584000
                        ...
995714590  서울 동대문구       42000
           서울 중구        205000
995969543  경기 고양시       537000
           서울 중구          8000
996121692  경기 안산시      1362000
996957279  서울 송파구      1985000
           서울 중구      11473000
997144126  경기 고양시         6000
           경기 성남시       206000
           서울 송파구       771000
997339581  경기 수원시        31000
           경기 안산시      3461000
           경기 파주시       123000
997505574  서울 강남구       254000
997677778  서울 동대문구    14024000
           서울 중구       2404000
997767998  부산 부산진구     1084000
997853190  서울 강서구       129000
           서울 영등포구     4431000
997894186  경기 수원시       727000
           경기 안양시       689000
998228250  서울 송파구      1491000
998386599  서울 송파구       112000
998623524  경기 안양시      2088000
999024423  서울 송파구        25000
999184958  부산 동래구       124000
           부산 해운대구     3023000
999375162  서울 강남구      4066000
           서울 송파구      6696000
999494396  서울 송파구       348000
Name: 구매금액, Length: 7056, dtype: int64