In [37]:
import pandas as pd

**Q1.** info_login데이터를 다운 받아 모든 열이 NaN인 행을 모두 지운 후에 c_time열을 분을 모두 00으로 바꾸시오

    c_time 예시) 2018-09-23 1:30 -> 2018-09-23 1:00

In [38]:
info_login = pd.read_csv('info_login.csv',encoding='cp949').iloc[:148999,1:]
info_login.c_time = info_login.c_time.apply(lambda x: x.replace(x[-2:],"00"))
info_login

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        login_id  user_id            c_time   platform                 browser
0        14196.0  19195.0   2018-09-23 1:00  Windows 8  Internet Explorer 10.0
1        14234.0  22045.0   2018-09-23 2:00    Windows     Chrome 67.0.3396.99
2        14256.0   8790.0   2018-09-23 3:00    Windows    Chrome 69.0.3497.100
3        14278.0      NaN  2018-09-23 12:00    Windows    Chrome 69.0.3497.100
4        14279.0      NaN  2018-09-23 12:00    Windows    Chrome 69.0.3497.100
...          ...      ...               ...        ...                     ...
148994  584404.0  19696.0  2020-12-08 23:00        NaN                     NaN
148995  584405.0   6586.0  2020-12-08 23:00        NaN                     NaN
148996  584406.0  19303.0  2020-12-08 23:00        NaN                     NaN
148997  584407.0  11103.0  2020-12-08 23:00        NaN                     NaN
148998  584408.0   6600.0  2020-12-08 23:00        NaN                     NaN

[148999 rows x 5 columns]

**Q2.** 위에 데이터를 가지고 user_id가 NaN인 행은 모두 지우고, platform과 browser는 최빈값으로 대체하시오.\
(결측치를 채운 후에 인덱스 번호를 다시 생성하시오)

In [ ]:
info_login = info_login.iloc[info_login['user_id'].dropna().index,:].reset_index()
del info_login['index']

In [ ]:
most_platform = info_login['platform'].value_counts(dropna =  True).idxmax()
info_login['platform'] = info_login['platform'].fillna(most_platform)

In [39]:
most_browser = info_login['browser'].value_counts(dropna =  True).idxmax()
info_login['browser'] = info_login['browser'].fillna(most_browser)
info_login

        login_id  user_id            c_time   platform                 browser
0        14196.0  19195.0   2018-09-23 1:00  Windows 8  Internet Explorer 10.0
1        14234.0  22045.0   2018-09-23 2:00    Windows     Chrome 67.0.3396.99
2        14256.0   8790.0   2018-09-23 3:00    Windows    Chrome 69.0.3497.100
3        14280.0  10206.0  2018-09-23 13:00    Windows    Chrome 68.0.3440.106
4        14288.0    488.0  2018-09-23 14:00  Windows 7    Chrome 68.0.3440.106
...          ...      ...               ...        ...                     ...
141580  584404.0  19696.0  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141581  584405.0   6586.0  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141582  584406.0  19303.0  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141583  584407.0  11103.0  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141584  584408.0   6600.0  2020-12-08 23:00    Windows    Chrome 78.0.3904.108

[141585 rows x 5 columns]

**Q3.** 위에 만든 info_login데이터를 가지고 login_id와 user_id를 int형으로 바꾸세요. (info_login을 출력할때 바뀐 형태로 출력되어야 함)

In [40]:
info_login.login_id = info_login.login_id.astype(int)
info_login.user_id = info_login.user_id.astype(int)
info_login

        login_id  user_id            c_time   platform                 browser
0          14196    19195   2018-09-23 1:00  Windows 8  Internet Explorer 10.0
1          14234    22045   2018-09-23 2:00    Windows     Chrome 67.0.3396.99
2          14256     8790   2018-09-23 3:00    Windows    Chrome 69.0.3497.100
3          14280    10206  2018-09-23 13:00    Windows    Chrome 68.0.3440.106
4          14288      488  2018-09-23 14:00  Windows 7    Chrome 68.0.3440.106
...          ...      ...               ...        ...                     ...
141580    584404    19696  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141581    584405     6586  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141582    584406    19303  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141583    584407    11103  2020-12-08 23:00    Windows    Chrome 78.0.3904.108
141584    584408     6600  2020-12-08 23:00    Windows    Chrome 78.0.3904.108

[141585 rows x 5 columns]

**Q4.** c_time을 가지고 year, month, day열을 생성하시오.

In [41]:
### 날짜

info_login['year'] = info_login.c_time.apply(lambda x: x[:4])
info_login['month'] = info_login.c_time.apply(lambda x: x[5:7])
info_login['day'] = info_login.c_time.apply(lambda x: x[8:10])
info_login

,login_id,user_id,c_time,platform,browser,year,month,day
0,14196,19195,2018-09-23 1:00,Windows 8,Internet Explorer 10.0,2018,09,23
1,14234,22045,2018-09-23 2:00,Windows,Chrome 67.0.3396.99,2018,09,23
2,14256,8790,2018-09-23 3:00,Windows,Chrome 69.0.3497.100,2018,09,23
3,14280,10206,2018-09-23 13:00,Windows,Chrome 68.0.3440.106,2018,09,23
4,14288,488,2018-09-23 14:00,Windows 7,Chrome 68.0.3440.106,2018,09,23
...,...,...,...,...,...,...,...,...
141580,584404,19696,2020-12-08 23:00,Windows,Chrome 78.0.3904.108,2020,12,08
141581,584405,6586,2020-12-08 23:00,Windows,Chrome 78.0.3904.108,2020,12,08
141582,584406,19303,2020-12-08 23:00,Windows,Chrome 78.0.3904.108,2020,12,08
141583,584407,11103,2020-12-08 23:00,Windows,Chrome 78.0.3904.108,2020,12,08
141584,584408,6600,2020-12-08 23:00,Windows,Chrome 78.0.3904.108,2020,12,08